# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Idea
.idea
# Project
*.apk
/app/__pycache__/utils.cpython-39.pyc
/.vscode/settings.json
venv